.vertical-center {

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

body, html {
  height: 100%;
  background-color: white;
}

.btn-wj {

   font-size: 1.5em;
   background-color: white !important;
   border-radius: 0 !important;
   border: none !important;
   color: #7C3D97;

}

.btn-wj:hover {

  font-size: 1.5em;
  border-radius: 0 !important;
  border: none !important;
  color: white;
  background-color: #995bb4 !important;

}

.btn-wj-dark {
  font-size: 1.4em;
  background-color: #7C3D97 !important;
  border-radius: 4px !important;
  border: none !important;
  color: white ;
  padding: 0.8em;

}

.btn-wj-success {

  font-size: 1.5em;
  background-color: #a4cd00 !important;
  border-radius: 0 !important;
  border: none !important;
  color: white ;
  padding: 0.8em;

}



.btn-wj-light {

  font-size: 1.4em;
  background-color: white !important;
  border-radius: 4px !important;
  border: solid 1px #7C3D97 !important;
  color: #7C3D97 ;
  padding: 0.8em;

}

.btn-wj-light:hover {

  font-size: 1.4em;
  background-color: #7C3D97 !important;
  border-radius: 4px !important;
  border: none !important;
  color: white ;
  padding: 0.8em;

}

.msg-red {

     background-color: red;
     color: white;
     padding: 1em;
     margin: 1em;
}

