<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Récupération mot de Passe</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
            <tr>
                <td style="vertical-align: top; padding-bottom:30px;" align="center"><a href="javascript:void(0)" target="_blank">
                        <img src="<?= $this->Url->build('ample/plugins/images/admin-logo-dark.png') ?>" alt="Admin Responsive web app kit" style="border:none"><br/>
                        <img src="<?= $this->Url->build('ample/plugins/images/admin-text-dark.png') ?>" alt="admin Responsive web app kit" style="border:none">
                    </a> </td>
            </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td style="border-bottom:1px solid #f6f6f6;"><h1 style="font-size:14px; font-family:arial; margin:0px; font-weight:bold;">Dear User,</h1>
                        <p style="margin-top:0px; color:#bbbbbb;">Here are your password reset instructions.</p></td>
                </tr>
                <tr>
                    <td style="padding:10px 0 30px 0;"><p>A request to reset your Admin password has been made. If you did not make this request, simply ignore this email. If you did make this request, please reset your password:</p>
                        <center>
                            <a href="javascript: void(0);" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #00c0c8; border-radius: 60px; text-decoration:none;">
                                <a href="http://137.74.194.146/flighastic-web/pilot/users/recover/<?= $user->recovery_token ?>">Reset Password</a></a>
                        </center>
                        <b>- Thanks (FlightAstic team)</b> </td>
                </tr>
                <tr>
                    <td  style="border-top:1px solid #f6f6f6; padding-top:20px; color:#777">If the button above does not work, try copying and pasting the URL into your browser. If you continue to have problems, please feel free to contact us at info@themedesigner.in</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
