@base-color: #a4cd00;
@base-color-light :#9a63b2;

.navbar-header {
  background: @base-color;
}

#side-menu > li > a.active {
  background: @base-color;
}

#side-menu ul > li > a.active {
  color: @base-color;
}

.btn {
  box-shadow: none !important;
}

.breadcrumb, .btn {
  border-radius: 0;
}

input.form-error {
  border :1px solid red;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid @base-color !important;
  background-color: @base-color !important;
  border-radius: 50%;
}

.white-box,.breadcrumb,table {
  border-radius: 10px !important;
}

a.btn {
  border-radius: 25px !important;
}


/* Messages Coposant Flash */
.message {

  margin-bottom: 20px;
  padding: 8px 15px;

}


.success {
  background: @base-color;
  color: white;
}

.br-round {
  border-radius: 25px;
}


/* Style pour les boutons */
.btn-wj {
  background-color: @base-color;
  color: white;
}

.btn-wj-light {
  background-color: @base-color-light;
  color: white;
}


.btn-wj:hover {
  background-color: @base-color;
  color: white;
}

.breadcrumb a {
  color: @base-color;
}

.message.error {

  background-color: red;
  color: white !important;
  text-transform: uppercase;
  font-weight: normal;
}

