.navbar-header {
  background: #a4cd00;
}
#side-menu > li > a.active {
  background: #a4cd00;
}
#side-menu ul > li > a.active {
  color: #a4cd00;
}
.btn {
  box-shadow: none !important;
}
.breadcrumb,
.btn {
  border-radius: 0;
}
input.form-error {
  border: 1px solid red;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #a4cd00 !important;
  background-color: #a4cd00 !important;
  border-radius: 50%;
}
.white-box,
.breadcrumb,
table {
  border-radius: 10px !important;
}
a.btn {
  border-radius: 25px !important;
}
/* Messages Coposant Flash */
.message {
  margin-bottom: 20px;
  padding: 8px 15px;
}
.success {
  background: #a4cd00;
  color: white;
}
.br-round {
  border-radius: 25px;
}
/* Style pour les boutons */
.btn-wj {
  background-color: #a4cd00;
  color: white;
}
.btn-wj-light {
  background-color: #a4cd00;
  color: white;
}
.btn-wj:hover {
  background-color: #a4cd00;
  color: white;
}
.breadcrumb a {
  color: #a4cd00;
}
.message.error {
  background-color: red;
  color: white !important;
  text-transform: uppercase;
  font-weight: normal;
}
/*# sourceMappingURL=destyx-purchasemanager.css.map */
