@base-color: #4caf50 !important;
@base-color-light :#9a63b2;

.navbar-header {
  background: @base-color;
}

#side-menu > li > a.active {
  background: @base-color;
}

#side-menu ul > li > a.active {
  color: @base-color;
}

.btn {
  box-shadow: none !important;
}

.breadcrumb, .btn {

  border-radius: 0;

}


input.form-error {
  border :1px solid red;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid @base-color !important;
  background-color: @base-color !important;
}


/* Messages Coposant Flash */
.message {

  margin-bottom: 20px;
  padding: 8px 15px;

}


.success {
  background: @base-color;
  color: white;
}


/* Style pour les boutons */
.btn-wj {
  background-color: #9a63b2;
  color: white;
}

.btn-wj-light {
  background-color: @base-color-light;
  color: white;
}


.btn-wj:hover {
  background-color: #9053aa;
  color: white;
}

.breadcrumb a {
  color: @base-color;
}

//[class*="col-"] {
//
//  margin-bottom: 10px;
//}

#page-wrapper {
  position: inherit;
  margin: 0 !important;
}

.navbar-static-top {
  padding-left: 0 !important;
}




