.navbar-header {
  background: #7C3D97;
}
#side-menu > li > a.active {
  background: #7C3D97;
}
#side-menu ul > li > a.active {
  color: #7C3D97;
}
.btn {
  box-shadow: none !important;
}
.breadcrumb,
.btn {
  border-radius: 0;
}
input.form-error {
  border: 1px solid red;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #7C3D97 !important;
  background-color: #7C3D97 !important;
}
/* Messages Coposant Flash */
.message {
  margin-bottom: 20px;
  padding: 8px 15px;
}
.success {
  background: #7C3D97;
  color: white;
}
/* Style pour les boutons */
.btn-wj {
  background-color: #7C3D97;
  color: white;
}
.btn-wj-light {
  background-color: #9a63b2;
  color: white;
}
.btn-wj:hover {
  background-color: #9053aa;
  color: white;
}
.breadcrumb a {
  color: #7C3D97;
}
.message.error {
  background-color: red;
  color: white !important;
  text-transform: uppercase;
  font-weight: normal;
}
