/***************************** 
    Stylish tabs page 
*****************************/
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
.sttabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
}
.sticon::before {
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  font-size: 20px;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sttabs nav {
  text-align: center;
}
.sttabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.sttabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sttabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}
.sttabs nav a span {
  vertical-align: middle;
  font-wight: 500;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}
.sttabs nav a:focus {
  outline: none;
}
.sttabs nav li.tab-current a {
  color: #f44336;
}
.content-wrap {
  background: #ffffff;
}
/*****************************/
/* Bar tab*/
/*****************************/
.tabs-style-bar nav ul li a {
  margin: 0 2px;
  background-color: #f7fafc;
  color: #686868;
  padding: 5px 0;
  transition: background-color 0.2s, color 0.2s;
}
.tabs-style-bar nav ul li a:hover,
.tabs-style-bar nav ul li a:focus {
  color: #f44336;
}
.tabs-style-bar nav ul li a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.tabs-style-bar nav ul li.tab-current a {
  background: #fb9678;
  color: #fff;
}
/*****************************/
/* Icon box tab*/
/*****************************/
.tabs-style-iconbox nav {
  background: #f7fafc;
}
.tabs-style-iconbox nav ul li a {
  overflow: visible;
  padding: 25px 0;
  line-height: 1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #313131;
}
.tabs-style-iconbox nav ul li.tab-current {
  z-index: 1;
}
.tabs-style-iconbox nav ul li.tab-current a {
  background: #1e88e5;
  color: #ffffff;
  box-shadow: -1px 0 0 #ffffff;
}
.tabs-style-iconbox nav ul li.tab-current a::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-top-color: #1e88e5;
  content: '';
  pointer-events: none;
}
.tabs-style-iconbox nav ul li:first-child::before,
.tabs-style-iconbox nav ul li::after {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: -1;
  width: 1px;
  height: 60%;
  content: '';
}
.tabs-style-iconbox nav ul li:first-child::before {
  right: auto;
  left: 0;
}
.tabs-style-iconbox .sticon::before {
  display: block;
  margin: 0 0 0.25em 0;
}
/*****************************/
/* Underline tab*/
/*****************************/
.tabs-style-underline nav {
  border: 1px solid rgba(120, 130, 140, 0.13);
}
.tabs-style-underline nav a {
  padding: 20px 0;
  border-left: 1px solid rgba(120, 130, 140, 0.13);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #313131;
}
.tabs-style-underline nav li:last-child a {
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}
.tabs-style-underline nav li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fb9678;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
}
.tabs-style-underline nav li.tab-current a::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*****************************/
/* Triangle and line tab*/
/*****************************/
.tabs-style-linetriangle nav a {
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.tabs-style-linetriangle nav a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  padding: 15px 0;
  color: #313131;
}
.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: '';
  pointer-events: none;
}
.tabs-style-linetriangle nav li.tab-current a:after {
  margin-left: -10px;
  border-width: 10px;
  border-top-color: #ffffff;
}
.tabs-style-linetriangle nav li.tab-current a span {
  color: #f44336;
}
.tabs-style-linetriangle nav li.tab-current a:before {
  margin-left: -11px;
  border-width: 11px;
  border-top-color: rgba(0, 0, 0, 0.2);
}
/*****************************/
/* Falling Icon tab */
/*****************************/
.tabs-style-iconfall {
  overflow: visible;
}
.tabs-style-iconfall nav {
  max-width: 1200px;
  margin: 0 auto;
}
.tabs-style-iconfall nav a {
  display: inline-block;
  overflow: visible;
  padding: 1em 0 2em;
  color: #313131;
  line-height: 1;
  -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav a:focus {
  color: #f44336;
}
.tabs-style-iconfall nav li.tab-current a {
  color: #f44336;
}
.tabs-style-iconfall nav li::before {
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 4px;
  background: #f44336;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
}
.tabs-style-iconfall nav li.tab-current::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.tabs-style-iconfall nav li.tab-current .sticon::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tabs-style-iconfall .sticon::before {
  display: block;
  margin: 0 0 0.35em;
  opacity: 0;
  font-size: 24px;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  pointer-events: none;
}
@media screen and (max-width: 58em) {
  .tabs-style-iconfall nav li .sticon::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*****************************/
/* Moving Line tab */
/*****************************/
.tabs-style-linemove nav {
  background: #f7fafc;
}
.tabs-style-linemove nav li:last-child::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #f44336;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-400%, 0, 0);
  transform: translate3d(-400%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-300%, 0, 0);
  transform: translate3d(-300%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.tabs-style-linemove nav a {
  padding: 30px 0;
  color: #313131;
  line-height: 1;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
}
.tabs-style-linemove nav li.tab-current a {
  color: #f44336;
}
/*****************************/
/* Line tab*/
/*****************************/
.tabs-style-line nav a {
  padding: 20px 10px;
  box-shadow: inset 0 -2px #d1d3d2;
  color: #686868;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
}
.tabs-style-line nav a:hover,
.tabs-style-line nav a:focus {
  box-shadow: inset 0 -2px #74777b;
}
.tabs-style-line nav li.tab-current a {
  box-shadow: inset 0 -2px #f44336;
  color: #f44336;
}
@media screen and (max-width: 58em) {
  .tabs-style-line nav ul {
    display: block;
    box-shadow: none;
  }
  .tabs-style-line nav ul li {
    display: block;
    -webkit-flex: none;
    flex: none;
  }
}
/*****************************/
/* Circle tab*/
/*****************************/
.tabs-style-circle {
  overflow: visible;
}
.tabs-style-circle nav li {
  margin-top: 60px!important;
  margin-bottom: 60px!important;
}
.tabs-style-circle nav li::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  width: 120px;
  height: 120px;
  border: 1px solid #fb9678;
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.tabs-style-circle nav a {
  overflow: visible;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 14;
  line-height: 1.1;
  -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.tabs-style-circle nav a span {
  display: inline-block;
}
.tabs-style-circle nav a:hover,
.tabs-style-circle nav a:focus {
  color: #f44336;
}
.tabs-style-circle nav li.tab-current a {
  color: #f44336;
}
.tabs-style-circle nav li.tab-current a span {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
@media screen and (max-width: 58em) {
  .tabs-style-circle nav li::before {
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
  }
}
.tabs-style-circle nav li.tab-current::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.tabs-style-circle nav a span,
.tabs-style-circle .icon::before {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.tabs-style-circle .sticon::before {
  display: block;
  margin: 0;
  pointer-events: none;
}
.tabs-style-circle nav li.tab-current .sticon::before {
  -webkit-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}
/*****************************/
/* Shape tab*/
/*****************************/
.tabs-style-shape {
  max-width: 1200px;
  margin: 0 auto;
}
.tabs-style-shape nav ul li {
  margin: 0 3em;
}
.tabs-style-shape nav ul li:first-child {
  margin-left: 0;
}
.tabs-style-shape nav ul li.tab-current {
  z-index: 1;
}
.tabs-style-shape nav li a {
  overflow: visible;
  margin: 0 -3em 0 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
}
.tabs-style-shape nav li a svg {
  position: absolute;
  left: 100%;
  margin: 0;
  width: 3em;
  height: 100%;
  fill: #bdc2c9;
}
.tabs-style-shape nav li:first-child a span {
  padding-left: 2em;
  border-radius: 30px 0 0 0;
}
.tabs-style-shape nav li:last-child a span {
  padding-right: 2em;
  border-radius: 0 30px 0 0;
}
.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
  right: 100%;
  left: auto;
  -webkit-transform: scale3d(-1, 1, 1);
  transform: scale3d(-1, 1, 1);
}
.tabs-style-shape nav li a span {
  display: block;
  overflow: hidden;
  padding: 0.65em 0;
  background-color: #bdc2c9;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabs-style-shape nav li a:hover span {
  background-color: #f44336;
}
.tabs-style-shape nav li a:hover svg {
  fill: #f44336;
}
.tabs-style-shape nav li a svg {
  pointer-events: none;
}
.tabs-style-shape nav li a svg use {
  pointer-events: auto;
}
.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
  -webkit-transition: none;
  transition: none;
}
.tabs-style-shape nav li.tab-current a span {
  background: #f7fafc;
}
.tabs-style-shape nav li.tab-current a svg {
  fill: #f7fafc;
}
.tabs-style-shape .content-wrap {
  background: #f7fafc;
}
@media screen and (max-width: 58em) {
  .tabs-style-shape nav ul {
    display: block;
    padding-top: 1.5em;
  }
  .tabs-style-shape nav ul li {
    display: block;
    margin: -1.25em 0 0;
    -webkit-flex: none;
    flex: none;
  }
  .tabs-style-shape nav ul li a {
    margin: 0;
  }
  .tabs-style-shape nav ul li svg {
    display: none;
  }
  .tabs-style-shape nav ul li a span {
    padding: 1.25em 0 2em !important;
    border-radius: 30px 30px 0 0 !important;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    line-height: 1;
  }
  .tabs-style-shape nav ul li:last-child a span {
    padding: 1.25em 0 !important;
  }
  .tabs-style-shape nav ul li.tab-current {
    z-index: 1;
  }
}
/*****************************/
/* Line Box tab*/
/*****************************/
.tabs-style-linebox nav ul li {
  margin: 0 0.5em;
  -webkit-flex: none;
  flex: none;
}
.tabs-style-linebox nav a {
  padding: 0 1.5em;
  color: #313131;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
  color: #f44336;
}
.tabs-style-linebox nav li.tab-current a {
  color: #ffffff;
}
.tabs-style-linebox nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #d2d8d6;
  content: '';
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}
.tabs-style-linebox nav li.tab-current a::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
  background: #f44336;
}
@media screen and (max-width: 58em) {
  .tabs-style-linebox nav ul {
    display: block;
    box-shadow: none;
  }
  .tabs-style-linebox nav ul li {
    display: block;
    -webkit-flex: none;
    flex: none;
  }
}
/*****************************/
/* Flip tab*/
/*****************************/
.tabs-style-flip {
  max-width: 1200px;
  margin: 0 auto;
}
.tabs-style-flip nav a {
  padding: 0.5em 0;
  color: #313131;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus {
  color: #f44336;
}
.tabs-style-flip nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tabs-style-flip nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}
.tabs-style-flip nav li.tab-current a {
  color: #f44336;
}
.tabs-style-flip nav li.tab-current a::after {
  background-color: #f7fafc;
  -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}
.tabs-style-flip .content-wrap {
  background: #f7fafc;
}
/*****************************/
/* Circle fill tab*/
/*****************************/
.tabs-style-circlefill {
  max-width: 800px;
  border: 1px solid #f44336;
  margin: 0 auto;
}
.tabs-style-circlefill nav ul li {
  overflow: hidden;
  border-right: 1px solid #f44336;
}
.tabs-style-circlefill nav li a {
  padding: 1.5em 0;
  color: #fff;
  font-size: 1.25em;
}
.tabs-style-circlefill nav li:first-child {
  border-left: none;
}
.tabs-style-circlefill nav li:last-child {
  border: none;
}
.tabs-style-circlefill nav li::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  width: 80px;
  height: 80px;
  border: 1px solid #f44336;
  border-radius: 50%;
  background: #f44336;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.tabs-style-circlefill nav li.tab-current::before {
  -webkit-transform: scale3d(2.5, 2.5, 1);
  transform: scale3d(2.5, 2.5, 1);
}
.tabs-style-circlefill nav a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tabs-style-circlefill nav a span {
  display: none;
}
.tabs-style-circlefill nav li.tab-current a {
  color: #ffffff;
}
.tabs-style-circlefill .icon::before {
  display: block;
  margin: 0;
  pointer-events: none;
}
.tabs-style-circlefill .content-wrap {
  border-top: 1px solid #f44336;
}
/* Content */
.content-wrap {
  position: relative;
}
.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 25px;
  min-height: 150px;
}
.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
}
.content-wrap section.content-current {
  display: block;
}
/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.no-flexbox nav ul {
  display: block;
}
.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}
@media screen and (max-width: 58em) {
  .sttabs nav a span {
    display: none;
  }
  .sttabs nav a:before {
    margin-right: 0;
  }
}
/***************************** 
    Stylish tolltip page 
*****************************/
.mytooltip {
  display: inline;
  position: relative;
  z-index: 9999;
}
/* Trigger text */
.tooltip-item {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 0 10px;
}
/* Gap filler */
.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.mytooltip:hover .tooltip-item::after {
  pointer-events: auto;
}
/* Tooltip */
.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: #2b2b2b;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
.tooltip-effect-1 .tooltip-content {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  color: #ffffff;
}
.tooltip-effect-2 .tooltip-content {
  -webkit-transform-origin: 50% calc(110%);
  transform-origin: 50% calc(110%);
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-3 .tooltip-content {
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
  transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-4 .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7, 0.3, 1);
  transform: scale3d(0.7, 0.3, 1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-5 .tooltip-content {
  width: 180px;
  margin-left: -90px;
  -webkit-transform-origin: 50% calc(106%);
  transform-origin: 50% calc(106%);
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
  transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
}
.mytooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}
.tooltip.tooltip-effect-2:hover .tooltip-content {
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}
/* Arrow */
.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}
/* Tooltip content*/
.tooltip-content img {
  position: relative;
  height: 140px;
  display: block;
  float: left;
  margin-right: 1em;
}
.tooltip-text {
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}
.tooltip-effect-5 .tooltip-text {
  padding: 1.4em;
}
a.mytooltip {
  font-weight: 500;
  color: #fb9678;
}
/* Tooltip 6 to 9 */
.tooltip-content2 {
  position: absolute;
  z-index: 9999;
  width: 80px;
  height: 80px;
  padding-top: 25px;
  left: 50%;
  margin-left: -40px;
  bottom: 100%;
  border-radius: 50%;
  text-align: center;
  background: #fb9678;
  color: #ffffff;
  opacity: 0;
  margin-bottom: 20px;
  cursor: default;
  pointer-events: none;
}
.tooltip-content2 i {
  opacity: 0;
}
.mytooltip:hover .tooltip-content2,
.mytooltip:hover .tooltip-content2 i {
  opacity: 1;
  font-size: 18px;
}
.tooltip-effect-6 .tooltip-content2 {
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
  transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-6 .tooltip-content2 i {
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-7 .tooltip-content2 {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-7 .tooltip-content2 i {
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-8 .tooltip-content2 {
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
  transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-8 .tooltip-content2 i {
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-9 .tooltip-content2 {
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-9 .tooltip-content2 i {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.mytooltip:hover .tooltip-content2,
.mytooltip:hover .tooltip-content2 i {
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
.tooltip-effect-6:hover .tooltip-content2 i {
  -webkit-transform: rotate3d(1, 1, 1, 0);
  transform: rotate3d(1, 1, 1, 0);
}
.tooltip-content2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -7px 0 0 -15px;
  width: 30px;
  height: 20px;
  background: url(../../plugins/images/tooltip/tooltip1.svg) no-repeat center center;
  background-size: 100%;
}
/***********Bloated Tooltip ***********/
.tooltip-content3 {
  position: absolute;
  background: url(../../plugins/images/tooltip/shape1.svg) no-repeat center bottom;
  background-size: 100% 100%;
  z-index: 9999;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  opacity: 0;
  cursor: default;
  font-size: 14;
  line-height: 27px;
  pointer-events: none;
  -webkit-transform: scale3d(0.1, 0.2, 1);
  transform: scale3d(0.1, 0.2, 1);
  -webkit-transform-origin: 50% 120%;
  transform-origin: 50% 120%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
}
.mytooltip:hover .tooltip-content3 {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* Arrow */
.tooltip-content3::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  top: 100%;
  background: #00AEEF;
  -webkit-transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
}
/*************Box Tooltip *************/
/* Trigger text */
.tooltip-item2 {
  color: #03a9f3;
  cursor: pointer;
  z-index: 100;
  position: relative;
  display: inline-block;
  font-weight: 500;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.mytooltip:hover .tooltip-item2 {
  color: #ffffff;
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}
/******************** Tooltip box ********************/
.tooltip-content4 {
  position: absolute;
  z-index: 99;
  width: 360px;
  left: 50%;
  margin-left: -180px;
  bottom: -5px;
  text-align: left;
  background: #03a9f3;
  opacity: 0;
  font-size: 14px;
  line-height: 27px;
  padding: 1.5em;
  color: #ffffff;
  border-bottom: 55px solid #2b2b2b;
  cursor: default;
  pointer-events: none;
  border-radius: 5px;
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.tooltip-content4 a {
  color: #2b2b2b;
}
.tooltip-text2 {
  opacity: 0;
  -webkit-transform: translate3d(0, 1.5em, 0);
  transform: translate3d(0, 1.5em, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.mytooltip:hover .tooltip-content4,
.mytooltip:hover .tooltip-text2 {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*******Tooltip Line********/
.tooltip-content5 {
  position: absolute;
  z-index: 9999;
  width: 300px;
  left: 50%;
  bottom: 100%;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background: transparent;
  opacity: 0;
  margin: 0 0 20px -150px;
  cursor: default;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.mytooltip:hover .tooltip-content5 {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.tooltip-content5 span {
  display: block;
}
.tooltip-text3 {
  border-bottom: 10px solid #fb9678;
  overflow: hidden;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.mytooltip:hover .tooltip-text3 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.tooltip-inner2 {
  background: #2b2b2b;
  padding: 40px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.mytooltip:hover .tooltip-inner2 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Arrow */
.tooltip-content5::after {
  content: '';
  bottom: -20px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #fb9678;
  border-width: 10px;
  margin-left: -10px;
}
/*For Laptop (1280px)*/
@media (max-width: 1350px) {
  .carousel .item h3 {
    font-size: 17px;
    height: 90px;
  }
  .inbox-center a {
    width: 400px;
  }
}
/********* Search Result Page**********/
.search-listing {
  padding: 0px;
  margin: 0px;
}
.search-listing li {
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.search-listing li h3 {
  margin: 0px;
  font-size: 18px;
}
.search-listing li h3 a {
  color: #1e88e5;
}
.search-listing li h3 a:hover {
  text-decoration: underline;
}
.search-listing li a {
  color: #4caf50;
}
/*Data tables page*/
button.dt-button,
div.dt-button,
a.dt-button {
  background: #1e88e5;
  color: #ffffff;
  border-color: #1e88e5;
}
button.dt-button:hover,
div.dt-button:hover,
a.dt-button:hover {
  background: #1e88e5;
}
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
  background: #f7fafc;
  color: #313131;
  border-color: rgba(120, 130, 140, 0.13);
}
.dataTables_filter input {
  border: 1px solid rgba(120, 130, 140, 0.13);
}
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background: none;
}
/*Summernote page*/
.note-editor {
  border: 1px solid rgba(120, 130, 140, 0.13);
}
.note-editor .panel-heading {
  padding: 6px 10px 10px;
}
/*left-right-aside-column*/
.page-aside {
  position: relative;
}
/*left-aside-column*/
.left-aside {
  position: absolute;
  background: #ffffff;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
  padding: 20px;
  width: 250px;
  height: 100%;
}
.right-aside {
  padding: 20px;
  margin-left: 250px;
}
.right-aside .contact-list th {
  white-space: nowrap;
}
.right-aside .contact-list td {
  vertical-align: middle;
  padding: 25px 10px;
  white-space: nowrap;
}
.right-aside .contact-list td img {
  width: 30px;
}
.contact-list th {
  white-space: nowrap;
}
.contact-list td {
  vertical-align: middle;
  padding: 25px 10px;
  white-space: nowrap;
}
.contact-list td img {
  width: 30px;
}
.list-style-none {
  margin: 0px;
  padding: 0px;
}
.list-style-none li {
  list-style: none;
  margin: 0px;
}
.list-style-none li.box-label a {
  font-weight: 500;
}
.list-style-none li.divider {
  margin: 10px 0;
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
}
.list-style-none li a {
  padding: 15px 10px;
  display: block;
  color: #313131;
}
.list-style-none li a:hover {
  color: #2cabe3;
}
.list-style-none li a span {
  float: right;
}
/*Chat-box page */
.chat-main-box {
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.chat-main-box .chat-left-aside {
  position: absolute;
  width: 250px;
  z-index: 9;
  top: 0px;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}
.chat-main-box .chat-left-aside .open-panel {
  display: none;
  cursor: pointer;
  position: absolute;
  left: -webkit-calc(99%);
  top: 50%;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 100px 100px 0;
  line-height: 1;
  padding: 15px 8px 15px 4px;
}
.chat-main-box .chat-left-aside .chat-left-inner .form-control {
  height: 60px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none {
  padding: 0px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li {
  list-style: none;
  overflow: hidden;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a {
  padding: 20px;
}
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover,
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active {
  background: #f7fafc;
}
.chat-main-box .chat-right-aside {
  margin-left: 250px;
}
.chat-main-box .chat-right-aside .chat-list {
  max-height: none;
  height: 100%;
  padding-top: 40px;
}
.chat-main-box .chat-right-aside .chat-list .chat-text {
  border-radius: 6px;
}
.chat-main-box .chat-right-aside .send-chat-box {
  position: relative;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control {
  border: none;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  resize: none;
  height: 80px;
  padding-right: 180px;
}
.chat-main-box .chat-right-aside .send-chat-box .form-control:focus {
  border-color: rgba(120, 130, 140, 0.13);
}
.chat-main-box .chat-right-aside .send-chat-box .custom-send {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.chat-main-box .chat-right-aside .send-chat-box .custom-send .cst-icon {
  color: #313131;
  margin-right: 10px;
}
/*User Cards page*/
.el-element-overlay .white-box {
  padding: 0px;
}
.el-element-overlay .el-card-item {
  position: relative;
  padding-bottom: 25px;
}
.el-element-overlay .el-card-item .el-card-avatar {
  margin-bottom: 15px;
}
.el-element-overlay .el-card-item .el-card-content {
  text-align: center;
}
.el-element-overlay .el-card-item .el-card-content h3 {
  margin: 0px;
}
.el-element-overlay .el-card-item .el-card-content a {
  color: #313131;
}
.el-element-overlay .el-card-item .el-card-content a:hover {
  color: #2cabe3;
}
.el-element-overlay .el-card-item .el-overlay-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.el-element-overlay .el-card-item .el-overlay-1 img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  width: 100%;
  height: auto;
}
.el-element-overlay .el-card-item .el-overlay-1:hover img {
  -ms-transform: scale(1.2) translateZ(0);
  -webkit-transform: scale(1.2) translateZ(0);
  /* transform: scale(1.2) translateZ(0); */
}
.el-element-overlay .el-card-item .el-overlay-1 .el-info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) translateZ(0);
  -webkit-transform: translateY(-50%) translateZ(0);
  -ms-transform: translateY(-50%) translateZ(0);
}
.el-element-overlay .el-card-item .el-overlay-1 .el-info > li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}
.el-element-overlay .el-card-item .el-overlay-1 .el-info > li a {
  border-color: #ffffff;
  color: #ffffff;
  padding: 12px 15px 10px;
}
.el-element-overlay .el-card-item .el-overlay-1 .el-info > li a:hover {
  background: #f44336;
  border-color: #f44336;
}
.el-element-overlay .el-card-item .el-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.el-element-overlay .el-card-item .el-overlay-1:hover .el-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.el-element-overlay .el-card-item .el-overlay-1 .scrl-dwn {
  top: -100%;
}
.el-element-overlay .el-card-item .el-overlay-1 .scrl-up {
  top: 100%;
  height: 0px;
}
.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-dwn {
  top: 0px;
}
.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-up {
  top: 0px;
  height: 100%;
}
/*Login page sidebar*/
.login-sidebar {
  position: absolute;
  right: 0px;
  margin-top: 0px;
  height: 100%;
}
/*table layouts page*/
.color-table.primary-table thead th {
  background-color: #707cd2;
  color: #ffffff;
}
.color-table.success-table thead th {
  background-color: #4caf50;
  color: #ffffff;
}
.color-table.info-table thead th {
  background-color: #1e88e5;
  color: #ffffff;
}
.color-table.warning-table thead th {
  background-color: #ff9800;
  color: #ffffff;
}
.color-table.danger-table thead th {
  background-color: #f44336;
  color: #ffffff;
}
.color-table.inverse-table thead th {
  background-color: #4c5667;
  color: #ffffff;
}
.color-table.dark-table thead th {
  background-color: #313131;
  color: #ffffff;
}
.color-table.red-table thead th {
  background-color: #fb3a3a;
  color: #ffffff;
}
.color-table.purple-table thead th {
  background-color: #707cd2;
  color: #ffffff;
}
.color-table.muted-table thead th {
  background-color: #98a6ad;
  color: #ffffff;
}
.color-bordered-table.primary-bordered-table {
  border: 2px solid #707cd2;
}
.color-bordered-table.primary-bordered-table thead th {
  background-color: #707cd2;
  color: #ffffff;
}
.color-bordered-table.success-bordered-table {
  border: 2px solid #4caf50;
}
.color-bordered-table.success-bordered-table thead th {
  background-color: #4caf50;
  color: #ffffff;
}
.color-bordered-table.info-bordered-table {
  border: 2px solid #1e88e5;
}
.color-bordered-table.info-bordered-table thead th {
  background-color: #1e88e5;
  color: #ffffff;
}
.color-bordered-table.warning-bordered-table {
  border: 2px solid #ff9800;
}
.color-bordered-table.warning-bordered-table thead th {
  background-color: #ff9800;
  color: #ffffff;
}
.color-bordered-table.danger-bordered-table {
  border: 2px solid #f44336;
}
.color-bordered-table.danger-bordered-table thead th {
  background-color: #f44336;
  color: #ffffff;
}
.color-bordered-table.inverse-bordered-table {
  border: 2px solid #4c5667;
}
.color-bordered-table.inverse-bordered-table thead th {
  background-color: #4c5667;
  color: #ffffff;
}
.color-bordered-table.dark-bordered-table {
  border: 2px solid #313131;
}
.color-bordered-table.dark-bordered-table thead th {
  background-color: #313131;
  color: #ffffff;
}
.color-bordered-table.red-bordered-table {
  border: 2px solid #fb3a3a;
}
.color-bordered-table.red-bordered-table thead th {
  background-color: #fb3a3a;
  color: #ffffff;
}
.color-bordered-table.purple-bordered-table {
  border: 2px solid #707cd2;
}
.color-bordered-table.purple-bordered-table thead th {
  background-color: #707cd2;
  color: #ffffff;
}
.color-bordered-table.muted-bordered-table {
  border: 2px solid #98a6ad;
}
.color-bordered-table.muted-bordered-table thead th {
  background-color: #98a6ad;
  color: #ffffff;
}
.full-color-table.full-primary-table {
  background-color: rgba(171, 140, 228, 0.8);
}
.full-color-table.full-primary-table thead th {
  background-color: #707cd2;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-primary-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-primary-table tr:hover {
  background-color: #707cd2;
}
.full-color-table.full-success-table {
  background-color: rgba(0, 194, 146, 0.8);
}
.full-color-table.full-success-table thead th {
  background-color: #4caf50;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-success-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-success-table tr:hover {
  background-color: #4caf50;
}
.full-color-table.full-info-table {
  background-color: rgba(3, 169, 243, 0.8);
}
.full-color-table.full-info-table thead th {
  background-color: #1e88e5;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-info-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-info-table tr:hover {
  background-color: #1e88e5;
}
.full-color-table.full-warning-table {
  background-color: rgba(254, 193, 7, 0.8);
}
.full-color-table.full-warning-table thead th {
  background-color: #ff9800;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-warning-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-warning-table tr:hover {
  background-color: #ff9800;
}
.full-color-table.full-danger-table {
  background-color: rgba(251, 150, 120, 0.8);
}
.full-color-table.full-danger-table thead th {
  background-color: #f44336;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-danger-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-danger-table tr:hover {
  background-color: #f44336;
}
.full-color-table.full-inverse-table {
  background-color: rgba(76, 86, 103, 0.8);
}
.full-color-table.full-inverse-table thead th {
  background-color: #4c5667;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-inverse-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-inverse-table tr:hover {
  background-color: #4c5667;
}
.full-color-table.full-dark-table {
  background-color: rgba(43, 43, 43, 0.8);
}
.full-color-table.full-dark-table thead th {
  background-color: #313131;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-dark-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-dark-table tr:hover {
  background-color: #313131;
}
.full-color-table.full-red-table {
  background-color: rgba(251, 58, 58, 0.8);
}
.full-color-table.full-red-table thead th {
  background-color: #fb3a3a;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-red-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-red-table tr:hover {
  background-color: #fb3a3a;
}
.full-color-table.full-purple-table {
  background-color: rgba(150, 117, 206, 0.8);
}
.full-color-table.full-purple-table thead th {
  background-color: #707cd2;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-purple-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-purple-table tr:hover {
  background-color: #707cd2;
}
.full-color-table.full-muted-table {
  background-color: rgba(152, 166, 173, 0.8);
}
.full-color-table.full-muted-table thead th {
  background-color: #98a6ad;
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-muted-table tbody td {
  border: 0 !important;
  color: #ffffff;
}
.full-color-table.full-muted-table tr:hover {
  background-color: #98a6ad;
}
/* Material Form Input page */
.floating-labels .form-group {
  position: relative;
}
.floating-labels .form-control {
  font-size: 20px;
  padding: 10px 10px 10px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #e4e7ea;
}
.floating-labels select.form-control > option {
  font-size: 14px;
}
.has-error .form-control {
  border-bottom: 1px solid #f44336;
}
.has-warning .form-control {
  border-bottom: 1px solid #ff9800;
}
.has-success .form-control {
  border-bottom: 1px solid #4caf50;
}
.floating-labels .form-control:focus {
  outline: none;
  border: none;
}
.floating-labels label {
  color: #313131;
  font-size: 16px;
  position: absolute;
  cursor: auto;
  font-weight: 400;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.floating-labels .form-control:focus ~ label,
.floating-labels .form-control:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #707cd2;
}
.floating-labels .bar {
  position: relative;
  display: block;
}
.floating-labels .bar:before,
.floating-labels .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #707cd2;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.floating-labels .bar:before {
  left: 50%;
}
.floating-labels .bar:after {
  right: 50%;
}
.floating-labels .form-control:focus ~ .bar:before,
.floating-labels .form-control:focus ~ .bar:after {
  width: 50%;
}
.floating-labels .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.floating-labels .input-lg ~ label,
.floating-labels .input-lg {
  font-size: 24px;
}
.floating-labels .input-sm ~ label,
.floating-labels .input-sm {
  font-size: 16px;
}
.has-warning .bar:before,
.has-warning .bar:after {
  background: #ff9800;
}
.has-success .bar:before,
.has-success .bar:after {
  background: #4caf50;
}
.has-error .bar:before,
.has-error .bar:after {
  background: #f44336;
}
.has-warning .form-control:focus ~ label,
.has-warning .form-control:valid ~ label {
  color: #ff9800;
}
.has-success .form-control:focus ~ label,
.has-success .form-control:valid ~ label {
  color: #4caf50;
}
.has-error .form-control:focus ~ label,
.has-error .form-control:valid ~ label {
  color: #f44336;
}
.has-feedback label ~ .t-0 {
  top: 0;
}
/*Data table page*/
.table.dataTable,
table.dataTable {
  width: 99.80% !important;
}
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_desc::after {
  float: none;
  padding-left: 10px;
}
/* style for realestate pages */
.re ul.two-part li i,
.re ul.two-part li span {
  font-size: 36px;
}
.bg-light h4 {
  font-weight: bold;
}
.agent-contact,
.pro-desc {
  font-size: 12px;
}
.form-agent-inq .form-group {
  margin-bottom: 10px;
}
.agent-info {
  max-height: 358px;
  height: 358px;
  background: #f7fafc;
}
.pro-list {
  margin-top: 15px;
}
.pro-img,
.pro-detail {
  display: table-cell;
  vertical-align: top;
}
.pro-detail h5 a {
  color: #313131;
  line-height: 20px;
  font-weight: 500;
}
.pro-box .pro-list-img {
  display: block;
  height: 210px;
  position: relative;
  overflow: hidden;
}
.pro-box .pro-label {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  border-radius: 2px;
  padding: 5px;
  font-size: 80%;
}
.pro-col-label {
  padding: 7px;
  width: 26%;
  display: block;
  margin-top: -15px;
  margin-left: 37%;
  border: 1px solid rgba(120, 130, 140, 0.13);
  text-transform: uppercase;
}
.pro-box .pro-label-img {
  position: absolute;
  top: 30px;
  right: 30px;
}
.pro-box.pro-horizontal pro-content {
  width: 100%;
  height: 210px;
}
.pro-content .pro-list-details {
  height: 138px;
  max-height: 142px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}
.pro-content .pro-list-info {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.pro-content .pro-list-details h3,
.pro-content .pro-list-details h4,
.pro-list-info ul.pro-info li,
.pro-agent .agent-name h5,
.pro-agent .agent-name small,
ul.pro-info li span.label,
.pro-location span,
.pro-list-info-3-col ul.pro-info li,
.pro-content-3-col .pro-list-details h3,
.pro-content-3-col .pro-list-details h4,
.pro-content-3-col .pro-list-details h4 small,
.pro-agent-col-3 .agent-name h5,
.pro-agent-col-3 .agent-name small {
  font-weight: 500;
}
.pro-list-info ul.pro-info,
.pro-list-info-3-col ul.pro-info {
  padding: 16px 10px 10px 10px;
  list-style: none;
}
.pro-list-info ul.pro-info li {
  padding: 10px 0px 10px 20px;
  font-size: 12px;
}
ul.pro-info li span.label {
  width: 25px;
  height: 25px;
  padding: 8px;
  border-radius: 50%;
  margin-top: -4px;
  margin-right: 15px;
  font-size: 12px;
}
ul.pro-info li span img,
ul.pro-amenities li span img {
  margin-top: -8px;
  padding-right: 12px;
}
.pro-agent .agent-img a img,
.pro-agent-col-3 .agent-img a img {
  border: 3px solid #ffffff;
  box-shadow: 1px 1px 1px rgba(120, 130, 140, 0.13);
  /*width: 60px;
    height: 60px;*/
}
.pro-agent .agent-img,
.pro-agent .agent-name,
.pro-agent-col-3 .agent-img,
.pro-agent-col-3 .agent-name {
  float: left;
}
.pro-agent .agent-img {
  padding-top: 12px;
}
.pro-agent .agent-name {
  padding: 10px 0 0 15px;
}
.pro-location span {
  padding-top: 27px;
}
.pro-content-3-col {
  padding: 15px;
  background: #f7fafc;
}
.pro-content-3-col .pro-list-details h4 small {
  color: #f44336;
}
.pro-list-info-3-col ul.pro-info li {
  padding: 10px 5px;
}
.pro-agent-col-3 .agent-img {
  padding: 15px;
}
.pro-agent-col-3 .agent-name {
  padding: 15px 15px 15px 5px;
}
ul.pro-amenities {
  list-style: none;
  padding: 8px 0;
}
ul.pro-amenities li {
  padding: 10px 0 10px 0;
  font-size: 12px;
}
ul.pro-amenities li span i {
  padding-right: 12px;
}
.pro-rd .table > tbody > tr > td:first-child {
  font-weight: 500;
}
.pro-rd .table > tbody > tr > td,
.pro-rd .table > tbody > tr > th {
  border: none;
  padding: 8px 8px 8px 0;
  font-size: 12px;
}
.pd-agent-info {
  max-height: 200px;
  height: 200px;
  background: #f7fafc;
  margin-top: 15px;
}
.pd-agent-contact,
.pd-agent-inq {
  padding: 25px;
}
.pro-add-form .radio label,
.pro-add-form .checkbox label {
  font-weight: 100;
}
/* for Plugins section */
.plugin-details {
  display: none;
}
.plugin-details-active {
  display: block;
}
/*Register in steps page*/
.register-box {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2%;
}
.step-register {
  position: absolute;
  height: 100%;
}
/*Material design icon*/
.material-icon-list-demo .icons div {
  width: 33%;
  padding: 15px;
  display: inline-block;
  line-height: 40px;
}
.material-icon-list-demo .icons div i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.material-icon-list-demo .icons div:hover {
  background: #f7fafc;
}
.full-width {
  display: inline-block;
  width: 100%;
  height: auto;
}
